//***************************************************************************************************************
// Author: Van Le
// vanleatwork@yahoo.com
// Phone: VN: 0396221156, US: 5125841843
//***************************************************************************************************************
class uart_env #(type REQ = uvm_sequence_item, type RSP = uvm_sequence_item) extends uvm_env;

   `uvm_component_param_utils(uart_env #(REQ,RSP))
   
   string my_name;
   
   typedef uart_agent  #(REQ,RSP) uart_agent_t;
   uart_agent_t uart_agent_0;
   typedef uart_slave_agent  #(REQ) uart_slave_agent_t;
   uart_slave_agent_t uart_slave_agent_0;
   typedef sb  #(REQ) sb_t;
   sb_t sb_0;
   
   //
   // NEW
   //
   function new(string name, uvm_component parent);
      super.new(name,parent);
      my_name = name;
   endfunction
   
   //
   // BUILD phase
   //
   function void build_phase(uvm_phase phase);
      super.build_phase(phase);
      // P1 Todo: instantiate the master agent
      // P2 Todo: instantiate the slave agent
      // P2 Todo: instantiate the scoreboard
   endfunction
   
   //
   // CONNECT phase
   //
   function void connect_phase(uvm_phase phase);
    // P2 Todo: connect the master agent ref_uart_ap port to the scoreboard ref_ap_fifo
    // P2 Todo: connect the slave agent act_uart_ap port to the scoreboard act_ap_fifo
   endfunction
   
endclass
